!!!
%html
  %head
    %link{'rel' => 'stylesheet', 'type' => 'text/css', 'href' => '/style.css'}
    %link{'rel' => 'stylesheet', 'type' => 'text/css', 'href' => '/buttons-small.css'}
    %title FichteID
  %body
    %h1
      %a{:href => '/'} FichteID
    #header
      - if session_user
        %a.cupid-green{:href => '/sso/logout'} Abmelden
        .text
          Angemeldet als 
          %span.username= session_user
        
      - else
        %a.cupid-green{:href => '/sso/login'} Anmelden
        .text Sie sind nicht angemeldet.
    - if section :info
      .flash#info= section :info
    
    - if flash[:error]
      .flash#error= flash[:error]
    
    #content
      %p= yield