%form{:action => '/sso/login', :method => 'POST'}
  %label{:for => 'username'}
    Benutzername im Schulnetzwerk:
    %input{:type => 'text', :name => 'username'}
    %br
  %label{:for => 'password'}
    Passwort im Schulnetzwerk:
    %input{:type => 'password', :name => 'password'}
    %br
  %input{:type => 'submit', :value => 'Anmelden', :style => 'width: 100%'}