- if session['return_to'] && session['openid_realm']
  - section :info do
    Bitte melden Sie sich an, um auf
    %strong= session['openid_realm']
    zuzugreifen.

%form{:action => '/sso/login', :method => 'POST'}
  %label{:for => 'username'}
    Benutzername im Schulnetzwerk:
    %input{:type => 'text', :name => 'username'}
    %br
  %label{:for => 'password'}
    Passwort im Schulnetzwerk:
    %input{:type => 'password', :name => 'password'}
    %br
  %input{:type => 'submit', :value => 'Anmelden', :style => 'width: 100%'}